body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-content: center;
}

#piano {
  height: 290px;
  padding: 90px 30px 0px 30px;
  background-color: tan;
  border-radius: 10px;  
}

.keys {
    position: relative;
}

.white-keys {
    display: flex;
}

.black-keys {
    position: relative;
    display: flex;
}

.white-key {
    width: 68px;
    height: 280px;
    background-color: white;
    border-radius: 0 0 5px 5px;
    border: solid black 2px;
    box-sizing: border-box;
}

.black-key {
    width: 38px;
    height: 160px;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
    position: absolute;
    background-color: black;
}